<!-- Navigation Bar -->
<ul class="nav">
    <li class="ng-scope {{$root.currentModule == module.name ? 'active' : ''}}" ng-repeat="module in modules">
        <a href class="auto" ng-if="module.moduleStates.length > 0">
            <span class="pull-right text-muted" ng-if="module.moduleStates.length > 0">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon {{module.icon}} icon text-info-dker"></i>
            <span class="font-bold">{{module.label}}</span>
        </a>
        <ul class="nav nav-sub dk" ng-if="module.moduleStates.length > 0">
            <li class="nav-sub-header">
                <a href>
                    <span>{{module.label}}</span>
                </a>
            </li>
            <li ui-sref-active="active"
                ng-repeat="state in module.moduleStates">
                <a ui-sref="{{state.name}}">
                    <span>{{state.label}}</span>
                </a>
            </li>
        </ul>

        <a ui-sref="{{module.name}}" ui-sref-active="active" ng-if="module.moduleStates.length == 0">
            <i class="glyphicon {{module.icon}} icon text-info-dker"></i>
            <span class="font-bold">{{module.label}}</span>
        </a>
    </li>
</ul>